@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */  
*{
    margin: 0;
    padding: 0;
}
#hero{
 background-color: brown;
 
 background: linear-gradient(0deg, rgb(9, 9, 9) 3.482%,rgba(16, 16, 16, 0) 101.632%), url(../assets/hero-bg.png);;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 width: 1920px;
 height: 919px;
 display: flex;
 justify-content: center;
 align-items: center;
}
#hero .hero-contant{
 width: 1000px;
 height: 214px;
}
#hero .hero-contant .subtitle{
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    
    text-align: center;

}
#hero .hero-contant .title{
    width: 1000px;
    height: 160px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    
    text-align: center;
    margin-top: 16px;
}
#hero .hero-contant .description{
    opacity: 0.7;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;

text-align: center;
margin-top: 24px;
    
}
.btn-container{
    width: 1023px;
    height: 391px;
    
    margin-top: 32px;
    text-align: center;
}
.btn{
    width: 282px;
    height: 65px;
    border-radius: 8px;
    
background: rgb(82, 195, 3);
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;

text-align: center;
}


#card-box{
    width: auto;
    margin: 167px 300px 185px 300px;

}
#card-box .subtitle{
    
    opacity: 0.6;
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
text-align: center;
}

#card-box .title{
margin: 16px 0px 48px 0px;  
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
text-align: center;
}


/* .card-datials  >p{
    background: rgba(82, 195, 3, 0.15);
    padding: 14px 32px 14px 32px;

}

.card-datials >h1{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    text-align: center;

} */
.about-headline{
    color: rgb(16, 16, 16);
    margin: 126px 0px 24px 0px;
font-family: Work Sans;
font-size: 35px;
font-weight: 700;
text-align: center;
}

.about-pragraph{
    opacity: 0.6;
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
text-align: center;
}
.about-pragraph1{
    margin: 48px 0px 0px 0px;
    padding: 30px 0px 30px 0px;
    opacity: 0.7;
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
text-align: center;
box-sizing: border-box;
border-bottom: 1px solid rgba(16, 16, 16, 0.2);
border-top: 1px solid rgba(16, 16, 16, 0.2);
}

#about-us{
    
    display: flex;
    
}    
     



